Library/
Temp/
Obj/
Build/
ProjectSettings/

Assets/*
!Assets/Reflection/
!Assets/Reflection/*
!Assets/Reflection/**/*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pidb.meta
sysinfo.txt
